html,body{ 
    margin:0; 
    padding:0; 
    height:100%; 
    width:100%; 
}

.kotak{
    width: 358px;
    height: 461px;
    transition: box-shadow .3s;
}

.kotak:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    border: 2px solid rgba(0, 0, 0, 0.175);
}

.kotak-profil {
    height: 400px;
    width: 400px;
}

.text-detail-article{
    margin: 0px;
    font-size: 1.2rem;
}



.text-detail-article a:link{
    text-decoration: none;
    color: black;
}

.text-detail-article a:visited{
    color: black;
}

.text-detail-article a:active{
    color: black;
}

.text-detail-article a:hover{
    color: red;
}

.article-text {
    font-family: 'Noto Serif', serif;
    font-size: 1.1rem;
}

.article-text p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-new-blog{
    width: 500px;
}

.image-article-detail{
    width: 730px;
    height: 489px;
}

.image-position-1{
    position: relative;
    right: 200px;
    top: 100px;
}

.image-position-2{
    position: relative;
    left: 230px;
    bottom: 50px;
}

.image-position-3{
    position: relative;
    right: 100px;
    bottom: 50px;
}

.image-header-1{
    position: relative;
    top: 80px;
    right: 230px;
}

.image-header-2{
    position: relative;
    z-index: 100;
    bottom: 500px;
    left: 180px;
}

.image-header-3{
    position: relative;
    z-index: 50;
    bottom: 700px;
    left: 50px;
}

.explanation-about-us {
    font-size: 1.5em;
    line-height: 1.6;
}

.link-about-us {
    text-decoration: none;
    color: black;
}

.link-about-us:hover {
    text-decoration: none;
    color: red;
}

.navigasi-override-style li a{
    color: black !important;
}

